@model Incognito.Models.ProfileViewModel.UserViewModel

@{
    ViewData["Title"] = @ViewData["User"] + " Messages";
}

<div class="row">
    <div class="col-lg-4" style="padding-bottom:25px;">
        <div class="card card-profile">
            <div class="card-header"></div>
            <div class="card-body text-center">
                <span class="avatar-main">@Model.Profile.GetProfilePic()</span>
                <h3 class="mb-3">
                    @Model.Profile.GetFullName()
                </h3>
                <h4 class="mb-4" style="color:gray">
                    <i class="far fa-building"></i> @Model.Profile.CompanyName
                </h4>
            </div>
        </div>

        @await Html.PartialAsync("_MessageLinkPartial")
    </div>

    <div class="col-lg-8">
        <h3>Messages</h3>
        <hr />
        @if (Model.Messages.Any())
        {
        <ul class="list-group card-list-group">
            @foreach (var item in Model.Messages)
            {
                <li class="list-group-item py-4">
                    <div class="media">
                        <div class="media-object avatar mr-3">
                            <span><i class="fas fa-user-secret"></i></span>
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <small class="float-right text-muted">
                                    <time class="timeago" datetime="@item.SentTime.ToLocalTime().ToString("o")"></time>
                                </small>
                                <h5>Anonymous</h5>
                                <p>@item.Text</p>
                            </div>
                            <div class="popup-action">
                                <a asp-action="Details" asp-route-id="@item.Id" style="color:green">
                                    <i class="far fa-flag"></i> Report
                                </a>|
                                <a href="#" class="js-archive-message" message-id="@item.Id">
                                    <i class="fas fa-archive"></i> Archive
                                </a>|
                                <a href="#" class="js-delete-message" message-id="@item.Id" style="color:red">
                                    <i class="far fa-trash-alt"></i> Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
        } else
        {
            <p>There is nothing to display.</p>
        }
    </div>
</div>

@section scripts{
    <script>
        jQuery(document).ready(function () {
            jQuery("time.timeago").timeago();
        });

        $(document).ready(function () {
            //js-delete-message
            $(".js-delete-message").click(function (e) {
                var link = $(e.target);
                bootbox.dialog({
                    message: "Sure you want to delete the message?",
                    //title: "Confirm",
                    buttons: {
                        no: {
                            label: "No",
                            className: "btn-default",
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Yes",
                            className: "btn-danger",
                            callback: function () {
                                $.ajax({
                                    url: "/api/v1/message/" + link.attr("message-id"),
                                    method: "DELETE"
                                })
                                .done(function () {
                                    link.parents("li").fadeOut(function () {
                                        $(this).remove();
                                    });
                                })
                                .fail(function () {
                                    alert("Something failed!");
                                });
                            }
                        }
                    }
                });
            });

            //js-archive-message
            $(".js-archive-message").click(function (e) {
                var link = $(e.target);
                $.ajax({
                    url: "/api/v1/message/" + link.attr("message-id"),
                    method: "PUT"
                })
                .done(function () {
                    link.parents("li").fadeOut(function () {
                        $(this).remove();
                    });
                })
                .fail(function () {
                    alert("Something failed!");
                });
            });
        });
    </script>
}
