@model Incognito.Models.ProfileViewModel.ProfileVM

@{
    ViewData["Title"] = Model.ProfileCardService.FirstName +"'s" + " Messages";
}

<div class="row">
    <div class="col-lg-4" style="padding-bottom:25px;">
        @await Html.PartialAsync("_ProfileCardPartial")
        @await Html.PartialAsync("_MessageLinkPartial")
    </div>

    <div class="col-lg-8">
        <h3>Messages</h3>
        <hr />
        @if (Model.Messages.Any())
        {
        <ul class="list-group">
            @foreach (var item in Model.Messages)
            {
                <li class="list-group-item py-4">
                    <div class="media">
                        <div class="media-object avatar mr-3">
                            <span><i class="fas fa-user-secret"></i></span>
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <small class="float-right text-muted">
                                    <time class="timeago" datetime="@item.SentTime.ToLocalTime().ToString("o")"></time>
                                </small>
                                <h5>Anonymous</h5>
                                <p>@item.Text</p>
                            </div>
                            <div class="popup-action">
                                <a href="#" class="js-report-message" message-id="@item.Id" style="color:green">
                                    <i class="far fa-flag"></i> Report
                                </a>|
                                <a href="#" class="js-archive-message" message-id="@item.Id">
                                    <i class="fas fa-archive"></i> Archive
                                </a>|
                                <a href="#" class="js-delete-message" message-id="@item.Id" style="color:red">
                                    <i class="far fa-trash-alt"></i> Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
        } else
        {
            <p>There is nothing to display.</p>
        }
    </div>
</div>