@model IEnumerable<Incognito.Models.Message>
@using Incognito.Models

@{
    ViewData["Title"] = @ViewData["User"] + " Profile";
}

<div class="row">
    <div class="col-lg-4" style="padding-bottom:25px;">
        <div class="card card-profile">
            <div class="card-header"></div>
            <div class="card-body text-center">
                <img class="card-profile-img" src="~/images/Ashwini.jpeg">
                <h3 class="mb-3">@ViewData["User"]</h3>
                <p class="mb-4">
                    Software Developer
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <h3>Messages</h3>
        <hr />
        @if (Model.Count() > 0)
        {
        <ul class="list-group card-list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item py-4">
                    <div class="media">
                        <div class="media-object avatar mr-3">
                            <span>A</span>
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <small class="float-right text-muted">
                                    <time class="timeago" datetime="@item.SentTime.ToLocalTime().ToString("o")"></time>
                                </small>
                                <h5>Anonymous</h5>
                                <p>@item.Text</p>
                            </div>
                            <div class="popup-action">
                                <a asp-action="Details" asp-route-id="@item.Id">
                                    <i class="far fa-flag"></i> Report
                                </a>|
                                <a href="#" class="js-delete-message" message-id="@item.Id">
                                    <i class="far fa-trash-alt"></i> Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
        } else
        {
            <p>There is nothing to display.</p>
        }
    </div>
</div>

@section scripts{
    <script>
        jQuery(document).ready(function () {
            jQuery("time.timeago").timeago();
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".js-delete-message").click(function (e) {
                var link = $(e.target);

                bootbox.dialog({
                    message: "Are you sure you want to delete the message?",
                    title: "Confirm",
                    buttons: {
                        no: {
                            label: "No",
                            className: "btn-default",
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Yes",
                            className: "btn-danger",
                            callback: function () {
                                $.ajax({
                                    url: "/api/v1/skill/" + link.attr("skill-id"),
                                    method: "DELETE"
                                })
                                .done(function () {
                                    link.parents("li").fadeOut(function () {
                                        $(this).remove();
                                    });
                                })
                                .fail(function () {
                                    alert("Something failed!");
                                });
                            }
                        }
                    }
                });
            });
        });
    </script>
}
